@tailwind base;
@tailwind components;
@tailwind utilities;

#first:hover {
  background-color: #ffc400;
}
#second:hover {
  background-color: #8e75f8;
}
#third:hover {
  background-color: #00a865;
}
#fourth:hover {
  background-color: #ff5baf;
}
#fifth:hover {
  background-color: #00b2e7;
}
#sixth:hover {
  background-color: #00b2e7;
}
#seventh:hover {
  background-color: #ff7000;
}
#eight:hover {
  background-color: #ffc400;
}
#nine:hover {
  background-color: #ff5baf;
}
#ten:hover {
  background-color: #ffc400;
}
